{% extends 'base.html' %}

<title>Movie : {{ movie.name }}</title>

<body>
    {% block body %}

    <div class="container mx-auto" style="text-align: center;">

        <h1>{{ movie.name }}</h1>
        <h3>({{ movie.year }})</h3>
        <img style="height: 400px;" src="{{ movie.img.url }}" alt="{{ movie.name }}">
        <h5>{{ movie.description }}</h5>
        <a class="btn btn-warning btn-lg" href="{% url 'website:update' movie.id %}" role="button">Edit</a>
        <a class="btn btn-danger btn-lg" href="{% url 'website:delete' movie.id %}" role="button">Delete</a>

    </div>

    {% endblock %}